.daycare-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 0 20px;
}

.daycare-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.daycare-logo img {
  max-width: 200px;
}

.daycare-logo span {
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 600;
  display: block;
  margin-top: 40px;
}

.daycare-logo h1 {
  font-size: 6em;
  line-height: 1em;
  text-transform: lowercase;
  font-weight: 700;
  color: var(--d2);
  margin-bottom: 40px;
}

.daycare-inner p,
.daycare-benefits ul li {
  font-size: 1.125em;
  line-height: 1.75em;
  max-width: 450px;
}

.daycare-inner .button {
  color: var(--b1);
  border-color: var(--b1);
  display: inline-block;
  margin-top: 40px;
}

.daycare-inner .button:hover {
  color: var(--w1);
  border-color: var(--d2);
  background-color: var(--d2);
}

.daycare-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.daycare-main-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.daycare-main-images > img {
  max-width: 360px;
  align-self: flex-end;
}

.daycare-main-images div img {
  max-width: 360px;
}

.daycare-main-images div {
  transition: 0.2s ease;
}

.daycare-main-images div:hover {
  transform: scale(1.02);
}

.daycare-main-images div {
  position: relative;
}

.daycare-main-images div p {
  font-size: 1em;
  max-width: 280px;
  color: var(--w1);
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 120px;
  left: 40px;
}

.daycare-dec-images img {
  max-width: 540px;
  width: 100%;
  object-fit: contain;
}

.daycare-dec-images {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.daycare-dec-images img:nth-child(1) {
  animation: float 2s ease-in-out infinite;
}

.daycare-dec-images img:nth-child(2) {
  animation: float 2.5s ease-in-out infinite;
}

.daycare-benefits {
  width: 100%;
  background-color: var(--d2);
  color: var(--w1);
  display: grid;
  grid-template-columns: 540px 1fr;
  gap: 40px;
  align-items: center;
  margin: 120px 0;
}

.daycare-benefits img {
  max-width: 540px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.daycare-benefits span {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 52px;
  max-width: 540px;
  display: inline-block;
  margin-bottom: 20px;
}

.daycare-benefits ul {
  list-style: square;
  margin-left: 20px;
}

.daycare-benefits ul li {
  max-width: 600px;
  margin-top: 10px;
}

.daycare-benefits div {
  padding: 0 20px;
}

.daycare-procedure-inner {
  padding-top: 0;
}

.daycare-decorator {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  padding-right: 140px;
}

.daycare-dec {
  position: relative;
  animation: float 2s ease-in-out infinite;
}

.daycare-dec span {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  color: var(--w1);
}

.daycare-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 80px 0;
}

.daycare-information-balloon img {
  max-width: 600px;
}

.daycare-text h2 {
  font-size: 2em;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 48px;
}

.daycare-text h2:nth-child(3) {
  margin-top: 20px;
}

.daycare-text span {
  display: block;
  margin: 10px 0 0 0;
}

.daycare-information-balloon {
  position: relative;
  justify-self: end;
  animation: float 3s ease-in-out infinite;
}

.daycare-information-balloon span {
  color: #8b4b00;
  text-transform: lowercase;
  font-size: 2em;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  position: absolute;
  left: 180px;
  top: 120px;
}

.daycare-information-balloon ul {
  list-style: square;
}

.daycare-information-balloon ul li {
  color: #473c2f;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 24px;
}

.daycare-information-balloon ul li:nth-child(1) {
  position: absolute;
  top: 210px;
  left: 160px;
}

.daycare-information-balloon ul li:nth-child(2) {
  position: absolute;
  top: 265px;
  left: 120px;
}

.daycare-information-balloon ul li:nth-child(3) {
  position: absolute;
  top: 320px;
  left: 105px;
}

.daycare-information-balloon ul li:nth-child(4) {
  position: absolute;
  top: 375px;
  left: 125px;
}

.daycare-information-balloon ul li:nth-child(5) {
  position: absolute;
  top: 430px;
  left: 105px;
}

.daycare-information-balloon ul li:nth-child(6) {
  position: absolute;
  text-align: center;
  top: 465px;
  left: 135px;
}

.daycare-information-balloon span strong {
  font-weight: 700;
}

.daycare-prerequisites {
  display: none;
}

@media (max-width: 1220px) {
  .daycare-dec-images img {
    max-width: 400px;
  }
}

@media (max-width: 1185px) {
  .daycare-logo h1 {
    font-size: 5em;
  }
  .daycare-logo img {
    max-width: 140px;
  }
  .daycare-benefits span {
    font-size: 2em;
    line-height: 38px;
  }
  .daycare-information-balloon {
    transform: scale(0.9);
  }
}

@media (max-width: 960px) {
  .daycare-intro {
    grid-template-columns: 1fr;
  }
  .daycare-inner {
    max-width: 400px;
    margin: 0 auto;
    padding: 60px 20px 40px 20px;
  }
  .daycare-procedure-inner {
    padding: 0 20px;
  }
  .daycare-logo {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
  .daycare-logo span {
    margin-top: 28px;
  }
  .daycare-logo h1 {
    font-size: 3.5em;
  }
  .daycare-page p,
  .daycare-benefits ul li {
    font-size: 1em;
  }
  .daycare-paragraph {
    margin-top: 0;
  }
  .daycare-content .button {
    display: block;
    margin: 40px auto 0 auto;
    max-width: 242px;
  }
  .daycare-main-images > img {
    display: none;
  }
  .daycare-main-images div {
    margin-top: 50px;
  }
  .daycare-main-images div img {
    width: 100%;
  }
  .daycare-dec-images {
    display: none;
  }
  .daycare-benefits {
    margin: 40px 0 80px 0;
    grid-template-columns: 1fr;
  }
  .daycare-benefits img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    max-height: 320px;
  }
  .daycare-benefits div {
    padding: 0 20px 40px 20px;
  }
  .daycare-dec img {
    max-width: 400px;
  }
  .daycare-dec span {
    font-size: 1.75em;
    top: 65px;
  }
  .daycare-information {
    display: block;
  }
  .daycare-information p {
    font-size: 1em;
  }
  .daycare-information-balloon {
    display: none;
  }
  .daycare-prerequisites {
    display: block;
    width: 100%;
    margin-top: 40px;
  }
  .daycare-dec img {
    padding: 0;
  }
  .daycare-dec span {
    position: absolute;
    left: 67px;
    right: 0;
    top: 60px;
    margin-left: unset;
    margin-right: unset;
    width: unset;
  }
}

@media (max-width: 420px) {
  .daycare-dec span {
    font-size: 1.5em;
    top: 55px;
  }
}
