.dogprevent-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dogprevent-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dogprevent-logo img {
  max-width: 200px;
  border-radius: 15px;
}

.dogprevent-logo h1 {
  font-size: 5em;
  line-height: 1em;
  text-transform: lowercase;
  font-weight: 500;
  color: var(--d6);
  margin-bottom: 20px;
}

.dogprevent-logo h1 strong {
  font-weight: 700;
}

.dogprevent-inner p {
  font-size: 1.125em;
  line-height: 1.75em;
  max-width: 480px;
  margin-top: 40px;
}

.dogprevent-inner p strong {
  font-weight: 600;
}

.dogprevent-hero {
  position: relative;
}

.dogprevent-hero img {
  max-width: 300px;
  position: absolute;
}

.dogprevent-hero img:nth-child(1) {
  right: 0;
}

.dogprevent-hero img:nth-child(2) {
  top: 200px;
  right: 300px;
}

.dogprevent-hero img:nth-child(3) {
  top: 340px;
  right: 0;
}

.dogprevent-page {
  padding-bottom: 120px;
}

.dogprevent-items-inner {
  max-width: 920px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.dogprevent-items-background {
  max-width: 600px;
}

.dogprevent-items-inner div img {
  width: 100%;
}

.dogprevent-items-inner > div > h2 {
  display: none;
}

.dogprevent-items-inner div {
  background-color: #c7cceb;
  max-width: 70px;
  border-radius: 100%;
  padding: 10px;
  transition: transform 0.2s ease;
}

.dogprevent-items-inner div:hover {
  transform: scale(1.05);
}

.dogprevent-items-inner div:nth-child(2) {
  position: absolute;
  top: 12px;
  left: 518px;
  padding: 12px 10px;
}

.dogprevent-items-inner div:nth-child(3) {
  position: absolute;
  top: 155px;
  left: 519px;
  padding: 7px 17px;
}

.dogprevent-items-inner div:nth-child(4) {
  position: absolute;
  top: 297px;
  left: 518px;
  padding: 14px 10px;
}

.dogprevent-items-inner div:nth-child(5) {
  position: absolute;
  top: 425px;
  left: 513px;
  padding: 14px 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  max-width: 95px;
}

.dogprevent-items-inner h2 {
  font-size: 2em;
  color: var(--d6);
  text-transform: lowercase;
  font-weight: 700;
  line-height: 32px;
  position: absolute;
}

.dogprevent-items-inner h2:nth-child(6) {
  top: 23px;
  left: 640px;
}

.dogprevent-items-inner h2:nth-child(7) {
  top: 165px;
  left: 640px;
}

.dogprevent-items-inner h2:nth-child(8) {
  top: 305px;
  left: 640px;
}

.dogprevent-items-inner h2:nth-child(9) {
  top: 450px;
  left: 640px;
}

.dogprevent-items {
  padding-bottom: 80px;
}

.terapia-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.terapia-logo div {
  position: relative;
}

.terapia-logo div > img {
  width: 200px;
}

.terapia-logo div div {
  background-color: #c7cceb;
  position: absolute;
  padding: 20px 15px;
  width: 120px;
  border-radius: 100%;
  top: 28px;
  left: 24px;
}

.terapia-logo div div img {
  width: 100%;
}

.terapia-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.terapia-logo h2 {
  font-size: 3.5em;
  text-transform: lowercase;
  font-weight: 700;
  color: var(--d6);
  line-height: 52px;
}

.terapia-inner {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 40px;
  position: relative;
}

.terapia-intro p {
  font-size: 1.125em;
  line-height: 32px;
  max-width: 500px;
  margin-top: 40px;
}

.terapia-intro p strong {
  font-weight: 600;
}

.terapias {
  position: relative;
  animation: float 2s ease-in-out infinite;
  padding-bottom: 400px;
}

.terapias img {
  max-width: 500px;
}

.terapias span {
  font-size: 2em;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: var(--d6);
  text-transform: lowercase;
  position: absolute;
  width: 100%;
  max-width: 241px;
  right: 160px;
  top: 140px;
}

.terapias ul {
  list-style: square;
  color: var(--w1);
  font-size: 1.125em;
  font-weight: 500;
  position: absolute;
  top: 220px;
  right: 205px;
  line-height: 28px;
}

.prevent-dec-images img {
  position: absolute;
  max-width: 400px;
}

.prevent-dec-images img:nth-child(1) {
  top: 430px;
}

.prevent-dec-images img:nth-child(2) {
  top: 580px;
  right: 460px;
  max-width: 300px;
}

.prevent-dec-images img:nth-child(3) {
  top: 580px;
  right: 0;
}

.prevent-dec-images-2 {
  display: none;
}

.terapia {
  margin: 0 20px 80px 20px;
}

.terapias-image {
  display: none;
  animation: float 2s ease-in-out infinite;
}

.nutrologia .terapia-logo div div {
  width: 80px;
  padding: 22px 34px;
  top: 25px;
  left: 25px;
}

.dogprevent-benefits {
  background-color: #94a0e1;
  color: var(--w1);
  margin-bottom: 60px;
}

.nutrologia-care-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.nutrologia-care-inner > span {
  font-size: 1.125em;
  line-height: 32px;
  color: #737373;
}

@media (max-width: 1260px) {
  .terapia-logo div > img {
    width: 140px;
  }
  .terapia-logo div div {
    padding: 12px 6px;
    width: 90px;
    border-radius: 100%;
    top: 18px;
    left: 19px;
  }
  .terapia-logo h2 {
    font-size: 2.5em;
    line-height: 42px;
  }
  .terapia-logo {
    gap: 20px;
  }
  .prevent-dec-images img {
    max-width: 340px;
  }
  .prevent-dec-images img:nth-child(2) {
    right: 400px;
  }
  .nutrologia .terapia-logo div div {
    width: 60px;
    padding: 12px 24px;
    top: 19px;
    left: 16px;
  }
}

@media (max-width: 1140px) {
  .dogprevent-hero {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: unset;
    width: 100%;
    margin-top: 60px;
    position: relative;
    padding: 5px 0;
  }
  .dogprevent-hero img {
    position: unset;
    max-width: 340px;
    width: 100%;
  }
  .dogprevent-inner {
    display: block;
  }
  .dogprevent-logo {
    display: flex;
    flex-direction: column;
  }
  .dogprevent-inner p {
    font-size: 1.125em;
    line-height: 1.75em;
    max-width: 480px;
    margin: 40px auto 0 auto;
  }
  .dogprevent-items-inner {
    transform: scale(0.8);
  }
  .dogprevent-page {
    padding-bottom: 30px;
  }
  .terapias {
    padding-bottom: 0;
  }
  .prevent-dec-images {
    display: none;
  }
  .prevent-dec-images-2 {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: unset;
    width: 100%;
    padding: 5px 0;
  }
  .prevent-dec-images img {
    position: unset;
  }
  .terapias-image {
    display: block;
    max-width: 400px;
    width: 100%;
  }
  .terapias {
    display: none;
  }
  .terapia-inner {
    display: block;
  }
  .terapia-logo {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
  .terapia-intro p {
    max-width: 480px;
    margin: 40px auto 0 auto;
  }
  .terapias-image {
    margin: 40px auto;
  }
  .nutrologia {
    margin-bottom: 40px;
  }
}

@media (max-width: 960px) {
  .dogprevent-inner {
    padding: 60px 20px 40px 20px;
  }
  .dogprevent-inner p {
    font-size: 1em;
    margin-top: 20px;
  }
  .dogprevent-logo img {
    max-width: 140px;
  }
  .dogprevent-logo h1 {
    font-size: 3.5em;
  }
  .dogprevent-items-inner > img {
    display: none;
  }

  .dogprevent-items-inner > div > h2 {
    display: block;
    position: unset;
    font-size: 1.75em;
  }

  .dogprevent-items-inner > h2 {
    display: none;
  }

  .dogprevent-items-inner div:nth-child(2),
  .dogprevent-items-inner div:nth-child(3),
  .dogprevent-items-inner div:nth-child(4),
  .dogprevent-items-inner div:nth-child(5),
  .dogprevent-items-inner h2:nth-child(6),
  .dogprevent-items-inner h2:nth-child(7),
  .dogprevent-items-inner h2:nth-child(8),
  .dogprevent-items-inner h2:nth-child(9) {
    position: unset;
    max-width: 100%;
  }
  .dogprevent-items-inner div {
    display: flex;
    flex-direction: column;
    background-color: unset;
    max-width: 70px;
    border-radius: 0;
    padding: 0;
  }
  .dogprevent-items-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .dogprevent-items-inner img {
    max-width: 85px;
    margin: 0 auto 10px auto;
  }
  .dogprevent-items-inner {
    transform: scale(1);
  }
  .terapia-intro p {
    max-width: 400px;
    font-size: 1em;
  }
}

@media (max-width: 540px) {
  .dogprevent-items-inner {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
