.facilities-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 700px 20px;
  position: relative;
}

.facilities-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.facilities-content img {
  max-width: 500px;
  width: 100%;
}

.facilities-content h1 {
  font-size: 6em;
  line-height: 0.85em;
  text-transform: lowercase;
  font-weight: 700;
  color: var(--d1);
  margin-bottom: 40px;
}

.facilities-content p:nth-child(2),
.facilities-content ul li {
  font-size: 1.125em;
  line-height: 1.75em;
  max-width: 540px;
}

.facilities-list-title {
  font-size: 1.5em;
  font-weight: 700;
  padding: 40px 0 20px 0;
  line-height: 1.25em;
}

.structure-2 {
  max-width: 400px;
  position: absolute;
  right: 420px;
  top: 570px;
  transition: 0.2s ease;
}

.structure-3 {
  max-width: 380px;
  position: absolute;
  right: 0;
  top: 620px;
  transition: 0.2s ease;
}

.structure-4 {
  position: absolute;
  max-width: 500px;
  right: 400px;
  top: 940px;
  transition: 0.2s ease;
}

.structure-5 {
  max-width: 340px;
  position: absolute;
  top: 700px;
  transition: 0.2s ease;
}

.facilities-content-image,
.facilities-image-responsive {
  transition: 0.2s ease;
}

.structure-2:hover,
.structure-3:hover,
.structure-4:hover,
.structure-5:hover,
.facilities-content-image:hover,
.facilities-image-responsive:hover {
  transform: scale(1.02);
}

.facilities-image-responsive {
  display: none;
}

.facility {
  padding-bottom: 120px;
}

.facility-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.facility-outer {
  padding: 0 20px;
}

.facility-logo {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 6em;
  text-transform: lowercase;
  color: var(--d2);
}

.facility-logo h2 strong {
  font-weight: 700;
}

.facility-logo img {
  max-width: 200px;
}

.facility-inner p {
  font-size: 1.125em;
  line-height: 1.75em;
  max-width: 540px;
  padding-top: 40px;
}

.facility-image-1 {
  max-width: 460px;
  justify-self: end;
}

.facility-outer {
  background-color: var(--d2);
  box-shadow: inset 0 40px var(--w1), inset 0 -40px var(--w1);
  margin-bottom: -80px;
}

.facility-outer > div {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 520px 1fr;
  align-items: center;
}

.facility-outer > div img {
  max-width: 460px;
}

.facility-outer h3 {
  font-size: 4em;
  line-height: 54px;
  color: var(--w1);
  font-weight: 700;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.facility-outer ul {
  list-style: unset;
  margin-left: 20px;
}

.facility-outer ul li {
  color: var(--w1);
  font-weight: 500;
  font-size: 1.125em;
  line-height: 32px;
}

.facility-1 {
  margin-bottom: -80px;
}

.facility-2 {
  align-items: center;
}

.dogfun .facility-logo h2 {
  color: var(--d7);
}

.dogfun .facility-outer {
  background-color: #abe9e0;
}

.dogfun .facility-outer h3,
.dogfun .facility-outer p {
  color: var(--b2);
}

.dogfun .facility-outer p {
  font-size: 1.125em;
  line-height: 32px;
}

.dogfun .facility-outer {
  box-shadow: inset 0 20px var(--w1), inset 0 -20px var(--w1);
}

.dogfun .facility-inner {
  margin-bottom: -120px;
}

.dogfun .facility-2 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
  color: var(--b2);
  position: relative;
}

.dogfun .facility-2 > div img {
  max-width: 520px;
  margin-top: 40px;
}

.dogfun .facility-2 p {
  position: absolute;
  font-size: 1em;
  max-width: 400px;
  top: 135px;
  left: 140px;
}

.dogfun {
  padding-bottom: 240px;
}

.dogspa h2 {
  color: var(--d5);
}

.dogspa .facility-outer {
  background-color: var(--d5);
  color: var(--w1);
  box-shadow: inset 0 20px var(--w1), inset 0 -20px var(--w1);
}

.dogspa .facility-outer p {
  line-height: 32px;
  font-size: 1.125em;
}

.dogbeauty h2,
.dogbeauty h3 {
  color: var(--b2);
}

.dogbeauty .facility-outer {
  background-color: var(--d4);
}

.dogbeauty .facility-outer p {
  font-size: 1.125em;
  line-height: 28px;
}

.dogrelax h2 {
  color: #f6a89a;
}

.dogrelax h3 {
  color: var(--b1);
}

.dogrelax .facility-outer {
  background-color: #ffccc3;
}

.dogrelax .facility-outer p {
  font-size: 1.125em;
  line-height: 28px;
}

.dogpark-1,
.dogfun-2,
.dogspa-1,
.dogbeauty-3,
.dogrelax-2 {
  animation: float 2s ease-in-out infinite;
}

.dogpark-3,
.dogfun-1,
.dogspa-3,
.dogbeauty-2,
.dogrelax-1 {
  animation: float 3s ease-in-out infinite;
}

.dogpark-2,
.dogfun-3,
.dogspa-2,
.dogbeauty-1,
.dogrelax-3 {
  animation: float 2.5s ease-in-out infinite;
}

@media (max-width: 1220px) {
  .facilities-inner {
    padding-bottom: 120px;
  }
  .structure-2,
  .structure-3,
  .structure-4,
  .structure-5 {
    position: unset;
    object-fit: contain;
  }
  .facilities-images {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    position: relative;
    padding: 20px;
  }
  .facilities-images::after {
    content: "→";
    position: absolute;
    top: 5px;
    right: 30px;
    color: var(--b1);
    animation: arrow 0.5s ease-in 0s infinite alternate;
  }
  .facilities-content {
    align-items: center;
  }
  .facility-image-1,
  .facility-image-2 {
    max-width: 400px !important;
  }
  .facility-logo img {
    max-width: 140px;
  }
  .facility-logo h2 {
    font-size: 0.75em;
  }
  .facility-outer h3 {
    font-size: 3.5em;
  }
  .facility-1,
  .facility-outer {
    margin-bottom: -60px;
  }
  .dogfun .facility-inner p {
    top: 115px;
    left: 130px;
  }
  .facility-outer > div {
    grid-template-columns: 440px 1fr;
  }
}

@media (max-width: 960px) {
  .facilities-content-image {
    display: none;
  }
  .facilities-image-responsive {
    display: unset;
    max-width: 340px;
    object-fit: contain;
  }
  .facilities-images {
    margin-top: 10px;
  }
  .facilities-content h1 {
    font-size: 3.5em;
  }
  .facilities-content,
  .facility-inner {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
  .facilities-inner {
    padding: 60px 20px 80px 20px;
  }
  .facilities-content p:nth-child(2),
  .facilities-content ul li,
  .facility p,
  .facility ul li {
    font-size: 1em;
  }
  .facilities-content p {
    font-size: 1.25em;
  }
  .facility-logo {
    flex-direction: column;
    gap: 20px;
  }
  .facility-logo h2 {
    font-size: 0.5em;
  }
  .facility-outer h3 {
    font-size: 2.5em;
    line-height: 42px;
  }
  .facility img {
    max-width: 400px;
    width: 100%;
  }
  .facility-logo img {
    max-width: 100px;
  }
  .facility-outer img {
    display: none;
  }
  .facility-outer > div {
    max-width: 400px;
    margin: 0 auto 20px auto;
    display: block;
    padding: 80px 0;
  }
  .facility-image-1 {
    margin-top: 30px;
  }
  .facility-outer {
    padding: 0 20px;
  }
  .dogfun .facility-inner {
    margin-bottom: -80px;
  }

  .dogfun .facility-2 p {
    font-size: 0.75em;
    top: 70px;
    left: 85px;
    max-width: 300px;
  }

  .dogfun {
    padding-bottom: 200px;
  }

  .dogfun .facility-outer p,
  .dogspa .facility-outer p,
  .dogbeauty .facility-outer p,
  .dogrelax .facility-outer p {
    font-size: 1em;
  }
}

@media (max-width: 445px) {
  .dogfun .facility-2 p {
    top: 60px;
    left: 65px;
  }
}
