.dogspa-page .daycare-logo h1 {
  color: var(--d5);
}

.dogspa-page .daycare-inner {
  align-items: center;
}

.hero-dogspa {
  max-width: 500px;
  justify-self: end;
  animation: float 2s ease-in-out infinite;
}

.dogspa-page .daycare-content p {
  font-size: 3em;
  color: var(--b2);
  font-weight: 700;
  line-height: 52px;
}

.dogspa-benefits {
  background-color: #b9e1f8;
  color: var(--b2);
}

.dogspa-benefits-2 {
  background-color: var(--d5);
  color: var(--w1);
}

.dogspa-procedure .daycare-dec span {
  color: var(--b2);
}

.dogspa-procedure .daycare-information {
  gap: 40px;
  margin-top: 40px;
}

.dogspa-procedure .daycare-information img {
  max-width: 600px;
}

.dogspa-procedure .daycare-information ul {
  list-style: square;
  margin-left: 20px;
}

.dogspa-procedure .daycare-information ul li {
  font-size: 1.125em;
  line-height: 32px;
}

.dogspa-procedure .daycare-inner {
  padding: 0 20px;
}

.dogspa-procedure-2 span {
  font-size: 3em;
  text-transform: lowercase;
  font-weight: 700;
  color: var(--b2);
  display: block;
  margin-bottom: 60px;
  line-height: 48px;
}

.dogspa-procedure .daycare-information {
  margin-bottom: 0;
}

.dogspa-procedure-2 .daycare-information {
  margin: 0 0 80px 0;
}

.hidrotherapy-benefits li {
  max-width: 500px !important;
}

@media (max-width: 1185px) {
  .dogspa-page .daycare-content p {
    font-size: 2em;
    line-height: 38px;
    margin-top: 20px;
  }
  .hero-dogspa {
    max-width: 440px;
  }
  .dogspa-procedure .daycare-information img {
    max-width: 480px;
  }
}

@media (max-width: 960px) {
  .dogspa-page .daycare-content p {
    font-size: 2em;
    text-align: center;
    margin: 0 0 50px 0;
  }
  .hero-dogspa {
    max-width: 400px;
    width: 100%;
  }
  .dogspa-procedure .daycare-information img {
    max-width: 400px;
    width: 100%;
    margin-top: 40px;
  }
  .dogspa-procedure .daycare-information ul li {
    font-size: 1em;
  }
  .dogspa-procedure .daycare-information img {
    display: none;
  }
  .dogspa-procedure-2 .daycare-information img {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 60px;
  }
  .dogspa-procedure-2 span {
    margin-bottom: 30px;
    font-size: 2em;
  }
}
