.services {
  max-width: 1200px;
  margin: 0 auto;
  padding: 140px 20px;
  color: var(--b1);
}

.services-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services-description {
  position: relative;
}

.services-description h1 {
  font-size: 6em;
  line-height: 0.85em;
  text-transform: lowercase;
  font-weight: 700;
  color: var(--d1);
}

.services-description p {
  font-size: 1.125em;
  line-height: 1.75em;
  max-width: 500px;
}

.services-description p:nth-child(2) {
  padding: 50px 0 40px 0;
}

.services-description strong {
  font-weight: 600;
}

.services-description p:nth-child(3) {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: 500;
}

.services-description img {
  max-width: 200px;
  position: absolute;
  right: 70px;
  top: 320px;
  transform: rotate(10deg);
  transition: 0.2s ease;
}

.services-description img:hover {
  transform: translate(5px, -5px);
}

.balloons {
  position: relative;
  margin-top: 40px;
}

.balloon {
  position: absolute;
  cursor: pointer;
  left: 130px;
  top: 30px;
  transform: scale(0.97);
  transition: transform 0.2s ease;
  text-transform: lowercase;
  font-size: 2.25em;
  font-weight: 700;
  color: var(--w1);
}

.balloon h2 {
  position: absolute;
}

.balloon:hover {
  transform: scale(1);
}

.balloon:nth-child(1) {
  max-width: 300px;
  width: 100%;
  height: 280px;
}

.balloon:nth-child(1) img:nth-child(1) {
  position: absolute;
  z-index: -1;
  max-width: 300px;
}

.balloon:nth-child(1) img:nth-child(2) {
  position: absolute;
  max-width: 120px;
  left: 90px;
  top: 60px;
}

.balloon:nth-child(1) h2 {
  top: 200px;
  left: 70px;
  color: var(--w1);
  font-weight: 400;
  text-transform: lowercase;
}

.balloon:nth-child(1) strong {
  font-weight: 700;
}

.balloon:nth-child(2) {
  top: -110px;
  left: 180px;
}

.balloon:nth-child(2) img {
  max-width: 220px;
}

.balloon:nth-child(2) h2 {
  top: 48px;
  left: 40px;
}

.balloon:nth-child(3) {
  top: 48px;
  left: 400px;
}

.balloon:nth-child(3) img {
  max-width: 260px;
}

.balloon:nth-child(3) h2 {
  top: 37px;
  left: 75px;
  color: var(--b1);
}

.balloon:nth-child(4) {
  top: 180px;
  left: 330px;
}

.balloon:nth-child(4) img {
  max-width: 280px;
}

.balloon:nth-child(4) h2 {
  color: var(--b2);
  line-height: 1.25em;
  top: 55px;
  left: 112px;
}

.balloon:nth-child(4) p {
  position: absolute;
  font-weight: 600;
  font-size: 0.6em;
  color: var(--b2);
  line-height: 1.25em;
  top: 160px;
  left: 70px;
}

.balloon:nth-child(5) {
  top: 260px;
  left: 70px;
}

.balloon:nth-child(5) img {
  max-width: 220px;
}

.balloon:nth-child(5) h2 {
  top: 105px;
  left: 50px;
}

.balloon:nth-child(6) {
  top: -20px;
  left: -70px;
}

.balloon:nth-child(6) img {
  max-width: 260px;
}

.balloon:nth-child(6) h2 {
  top: 75px;
  left: 24px;
  font-size: 0.85em;
}

.balloon:nth-child(6) p {
  position: absolute;
  font-weight: 600;
  font-size: 0.6em;
  line-height: 1.25em;
  top: 120px;
  left: 35px;
}

.balloon:nth-child(6) span,
.balloon:nth-child(3) span {
  font-weight: 500;
}

@media (max-width: 1340px) {
  .balloons {
    transform: scale(0.8);
    justify-self: start;
  }
}

@media (max-width: 1100px) {
  .services {
    padding: 60px 20px 0 20px;
  }
  .services-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services-description h1 {
    font-size: 5em;
    max-width: 220px;
  }
  .services-description img {
    display: none;
  }
  .balloons {
    width: 600px;
    height: 480px;
    margin-top: 60px;
  }
}

@media (max-width: 960px) {
  .services-description h1 {
    font-size: 3.5em;
  }
  .services-description p {
    font-size: 1em;
    max-width: 380px;
  }
  .services-description p:nth-child(2) {
    padding: 30px 0;
  }
  .services-description p:nth-child(3) {
    padding-bottom: 10px;
  }
}

@media (max-width: 640px) {
  .balloon {
    position: unset;
  }
  .balloon:nth-child(1) {
    display: none;
  }
  .balloons {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: unset;
    width: 100%;
    margin: 0;
  }
}
