.structure {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 70px 20px;
  color: var(--b1);
}

.structure-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.structure-inner img {
  max-width: 600px;
  animation: float 2s ease-in-out infinite;
}

.structure-content h1 {
  font-size: 6em;
  line-height: 0.85em;
  text-transform: lowercase;
  font-weight: 700;
  color: var(--d1);
}

.structure-content span {
  font-size: 1.875em;
  line-height: 0.85em;
  text-transform: lowercase;
  font-weight: 700;
  color: var(--b1);
  display: block;
  padding: 30px 0 20px 0;
}

.structure-content ul li {
  font-size: 1.125em;
  line-height: 1.75em;
  color: var(--b1);
}

.structure-content .button {
  color: var(--b1);
  border-color: var(--b1);
  display: inline-block;
  margin-top: 20px;
}

.structure-content .button:hover {
  color: var(--w1);
  background-color: var(--b1);
}

@media (max-width: 1100px) {
  .structure {
    padding: 0 20px;
  }
  .structure-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .structure-content h1 {
    font-size: 5em;
    max-width: 220px;
  }
  .structure-content {
    max-width: 500px;
    width: 100%;
  }
  .structure-content span {
    line-height: 32px;
  }
  .structure-inner img {
    max-width: 400px;
    margin: 40px 0 70px 0;
  }
}

@media (max-width: 960px) {
  .structure-content {
    max-width: 380px;
  }
  .structure-content h1 {
    font-size: 3.5em;
  }
  .structure-content ul li {
    font-size: 1em;
  }
}

@media (max-width: 640px) {
  .structure-content {
    margin-top: 40px;
  }
  .structure-inner img {
    max-width: 300px;
    margin: 30px 0 60px 0;
  }
}
