@import url(reset.css);
@import url(global.css);
@import url(header.css);
@import url(main.css);
@import url(services.css);
@import url(structure.css);
@import url(faq.css);
@import url(contact.css);
@import url(footer.css);
@import url(about.css);
@import url(facilities.css);
@import url(team.css);
@import url(daycare.css);
@import url(rules.css);

:root {
  --d1: #97ca49;
  --d2: #ffa307;
  --d3: #ffccc3;
  --d4: #b9e1f8;
  --d5: #47c8f3;
  --d6: #1e37b8;
  --d7: #74e0d2;
  --w1: #faf5ef;
  --b1: #473c2f;
  --b2: #323d44;
}
