.team-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 40px 20px;
}

.team-inner img {
  max-width: 300px;
  transition: transform 0.2s ease;
}

.team-inner img:hover {
  transform: scale(1.02);
}

.team-content h1,
.team-inner h2 {
  font-size: 6em;
  line-height: 1em;
  text-transform: lowercase;
  font-weight: 700;
  color: var(--d1);
  margin-bottom: 40px;
}

.team-content {
  margin-bottom: 80px;
}

.team-inner p {
  font-size: 1.125em;
  line-height: 1.75em;
  max-width: 700px;
}

.team-inner h2 {
  font-size: 4em;
  margin: 100px 0 80px 0;
}

.daycare-paragraph {
  font-size: 1.125em;
  line-height: 1.75em;
  max-width: 700px;
  margin-top: 40px;
}

.employee {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.employee h3,
.employee h4 {
  font-size: 3em;
  line-height: 1em;
  font-weight: 700;
  color: var(--d1);
  margin-bottom: 20px;
}

.employee span {
  display: block;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 32px;
  color: #a4a4a4;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .team-inner p {
    font-size: 1em;
  }
  .team-content h1,
  .team-inner h2 {
    font-size: 3.5em;
  }
  .employee h3,
  .employee h4 {
    font-size: 2em;
  }
  .team-inner img {
    max-width: 300px;
    width: 100%;
  }
  .employee {
    flex-direction: column;
    max-width: 400px;
  }
  .team-inner {
    max-width: 400px;
    margin: 0 auto;
    padding: 60px 20px 40px 20px;
  }
  .employee {
    margin: 80px 0 20px 0;
  }
}
